<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="favicon.ico"/>
<title>Funcionários - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
</head>

<body>


	<div id="inicio" class="container-fluid table" >
		<h4>Lista dos Funcionários</h4>
		<table>
		  <tr>
			<th>Nome</th>
			<th>Setor</th>
			<th>Salário</th>
			<th>Email</th>
			<th>Idade</th>
			<th></th>
			<th><a href="pages/novo-funcionario.html" style="text-decoration:none;">
	    				 &#10010;</a></th>
		  </tr>
		  <tbody id="event-table" >
			<tr v-for="funcionario in listaProdutos">
			  <td>{{ funcionario.nome }}</td> 
			  <td>{{ funcionario.setor.nome }}</td> 
			  <td>{{ funcionario.salario }}</td> 
			  <td>{{ funcionario.email }}</td> 
			  <td>{{ funcionario.idade }}</td>
			  	<td>
				  	<a href="pages/edita-funcionario.html" style="text-decoration:none;">
	    				 &#9998;</a>
    			</td>
    			<td> <a href="/funcionarios/index.html">			
						&#10006;
					</a>	
			    </td>
			</tr>
		  </tbody>
		</table>
	  </div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js"></script>
</body>
</html>